---
import "../styles/globals.css";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer.astro";
import { AOSInit } from "../scripts/AOSInit";
import Analytics from "@vercel/analytics/astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <title>{title} • Team Schnell</title>
    <meta name="title" content={`${title} • Team Schnell`} />
    <meta
      name="description"
      content="Team Schnell is a creative and innovative group of developers, building impactful web solutions and open source tools."
    />
    <meta
      name="keywords"
      content="Team Schnell, Schnell, Open Source, Developer Team, Web Development, VIT Chennai, Aayush Shukla, Bhargavi Deshmukh, Koshambi Bardhan, Amal M Raju"
    />
    <meta name="author" content="Team Schnell" />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />

    <!-- Canonical URL -->
    <link rel="canonical" href="https://schnell.dunder.in" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://schnell.dunder.in/" />
    <meta property="og:title" content={`${title} • Team Schnell`} />
    <meta
      property="og:description"
      content="Team Schnell is a creative and innovative group of developers, building impactful web solutions and open source tools."
    />
    <meta
      property="og:image"
      content="https://schnell.dunder.in/og-image.png"
    />
    <meta property="og:site_name" content="Team Schnell" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://schnell.dunder.in/" />
    <meta property="twitter:title" content={`${title} • Team Schnell`} />
    <meta
      property="twitter:description"
      content="Team Schnell is a creative and innovative group of developers, building impactful web solutions and open source tools."
    />
    <meta
      property="twitter:image"
      content="https://schnell.dunder.in/og-image.png"
    />

    <!-- Google Fonts + Font Awesome -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <Analytics />
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100">
    <Navbar client:load />
    <AOSInit client:only="react" />
    <div class="flex-grow">
      <slot />
    </div>
    <Footer />
  </body>
</html>
